/*======= Speedy's Stylish Profile ======= */
body {
    font-family: 'poppins', sans-serif;
    background: #f2f5f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header section */
header {
    background: linear-gradient(135deg, #0078d7);
    color: #f2f5f9;
    text-align: center;
    padding: 50px 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 15px;
    animation: floatPic 4s ease-in-out infinite;
}

/* Floatint animation for profile photo */
@keyframes floatPic {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10pxx);
    }
}

/* Content Section */
section {
    background: white;
    width: 85%;
    max-width: 800px;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0078d7;
    border-bottom: 2px solid #00b4d8;
    padding-bottom: 5px;
}

/* Social Links */
.social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.social-links a {
    text-decoration: none;
    background: 0078d7;
    color: #080e16;
    padding: 15px 0;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.social-links a:hover {
    background: #00b4d8;
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(0, 180, 216, 0.6);
}

/* Footer */
footer {
    text-align: center;
    background: #0078d7;
    color: #f2f5f9;
    padding: 15px 0;
    margin-top: 30px;
}

/*======= Resposive Design =======*/
@media (max-width: 600px) {
    .profile-pic {
        width: 100px;
        height: 100px;
    }

    section {
        width: 95%;
        height: 15px;
    }

    h2 {
        font-size: 1.2em;
    }
}

/* ======= Buttons =======*/
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s ease;
}

/* Hire Me button */
.btn.hire {
    background: #00b4d8;
    color: #f2f5f9;
}

.btn.hire:hover {
    background: #0078d7;
}

/* Download CV button */
.btn.cv {
    background: #f2f5f9;
    border: 2px solid #00b4d8;
    color: #0078d7;
}

.btn.cv:hover {
    background: #0078d7;
    color: #f2f5f9;
}

/* ======= Icon Stylish ====== */
.btn i {
    margin-right: 8px;
}

/*======= Glowing Buttons Effect =======*/
.btn:hover {
    box-shadow: 0 0 15px rgba(0, 184, 255, 0.8);
    transition: scale(1.05);
}

/* ======= Fade-in effect ======= */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    animation: fadeIn 1s ease-in-out;
}